body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #eee;
	background-color: #4B644A;
}

a {
  text-decoration: none;
  color: #ADFCF9;

	&:hover {
		text-decoration: underline;
	}
}

button {
	padding: 10px;
	border: 2px solid #666;
	border-radius: 6px;
	background: #ccc;

	&:active {
		background: #aaa;
	}

  &:disabled {
    color: #000;
  }
}

.refresh {
  min-width: 72px;
  padding: 2px 10px;
}

ul {
  margin: 0;
  padding: 0 0 0 1em;
}

li {
  list-style: none;

  &.names-checkbox,
	&.sanction-button {
		padding: 10px 0;
	}
}

table {
  border-collapse: collapse;
}

.names {
  padding: 0 1em;
}

.persons {
  overflow: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  height: 100vh;

  display: flex;
  flex-direction: row;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  & .person {
    width: 100%;
  	padding: 0 1em;
  	scroll-snap-align: start;
  	flex-shrink: 0;
  	box-sizing: border-box;
  }
}

.scores {
  width: 100%;
  overflow-x: auto;

  & tr {
    background-color: #341C1C;
    color: #eee;
  }

  & th, td {
    padding: .5em;
    border-left: 1px solid #49393B;
    border-right: 1px solid #49393B;
    text-align: center;

    &:first-child {
      border-left: 0 none;
    }

    &:last-child {
      border-right: 0 none;
    }
  }

  & tbody tr {
    & th {
      text-align: left;
    }

    &:nth-child(odd) {
      background-color: #49393B;
      & th, td {
        border-color: #341C1C;
      }
    }

    &:nth-child(even) {
      background-color: #341C1C;
      & th, td {
        border-color: #49393B;
      }
    }
  }
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }

  .scores {
    margin-left: -2em;
    width: calc(100% + 3em);
  }
}
