body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #eee;
  background-color: #4b644a;
}

a {
  text-decoration: none;
  color: #adfcf9;
}
a:hover {
  text-decoration: underline;
}

button {
  padding: 10px;
  border: 2px solid #666;
  border-radius: 6px;
  background: #ccc;
}
button:active {
  background: #aaa;
}

button:disabled {
  color: #000;
}

.refresh {
  min-width: 72px;
  padding: 2px 10px;
}

ul {
  margin: 0;
  padding: 0 0 0 1em;
}

li {
  list-style: none;
}

.names-checkbox {
  padding: 10px 0;
}

.sanction-button {
  text-align: center;
  padding: 10px 0;
}

table {
  border-collapse: collapse;
}

.names {
  padding: 0 1em;
}

.persons {
  overflow: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  height: 100vh;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-column-gap: 5px;
}
.persons .person {
  padding: 0 1em;
  scroll-snap-align: start;
  box-sizing: border-box;
}
.persons .person .name {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .persons {
    scroll-behavior: smooth;
  }
}

.arrow {
  position: fixed;
  top: 10px;
  background-color: transparent;
  border: 0 none;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  outline: none;
  transition: opacity 0.15s;
}
.arrow:active {
  background-color: transparent;
}

.arrow.hide {
  pointer-events: none;
  opacity: 0;
}

.arrow.left {
  left: 20px;
}
.arrow.right {
  right: 20px;
}

.scores {
  width: 100%;
  overflow-x: auto;
}
.scores tr {
  background-color: #341c1c;
  color: #eee;
}

.scores th,
.scores td {
  padding: 0.5em;
  border-left: 1px solid #49393b;
  border-right: 1px solid #49393b;
  text-align: center;
}
.scores th:first-child,
.scores td:first-child {
  border-left: 0 none;
}

.scores th:last-child,
.scores td:last-child {
  border-right: 0 none;
}

.scores tbody tr th {
  text-align: left;
}

.scores tbody tr:nth-child(odd) {
  background-color: #49393b;
}
.scores tbody tr:nth-child(odd) th,
.scores tbody tr:nth-child(odd) td {
  border-color: #341c1c;
}

.scores tbody tr:nth-child(even) {
  background-color: #341c1c;
}
.scores tbody tr:nth-child(even) th,
.scores tbody tr:nth-child(even) td {
  border-color: #49393b;
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }

  .scores {
    margin-left: -2em;
    width: calc(100% + 3em);
  }
}
